.carousel {
    position: relative;
    height: calc(100vh - 150px); /* Ajustez 150px à la hauteur de votre header */
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
  }

  .slide.active {
    opacity: 1;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .content p {
    font-size: 1.5rem;
  }