.form {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 50px;
  }
  
  .formGroup {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .label {
    flex: 0 0 150px; /* Ajustez cette valeur selon la largeur souhaitée pour vos labels */
    background-color: #00BFFF; /* Bleu électrique */
    color: white;
    font-family: Calibri, sans-serif;
    font-size: 14px;
    padding: 0.5rem 10.5rem 1rem 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    text-align:center;
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: flex-end;
    line-height: 1.2; /* Ajustez cette valeur pour l'espacement vertical */

  }
  
  .input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    background-color: #00BFFF;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Positionnement absolu */
    bottom: 0; /* Aligné en bas */
    right: 0; /* Aligné à droite */
  }
  
  .button:hover {
    background-color: #0099CC;
  }

  .label br {
    display: none; /* Cache le saut de ligne par défaut */
  }
  
  .label::after {
    content: ' '; /* Ajoute un espace entre les mots */
    white-space: pre; /* Préserve l'espace */
  }